/* ==|== primary styles ===================================================================================================================================
   AUTHOR: Meridian Softech
   ========================================================================== */

/************************************************************
*************************************************************
    CUSTOM FONT EMBED
*************************************************************
*************************************************************/

/*@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/PTS55F.eot?') format('eot'),
        url('../fonts/PTS55F.ttf') format('truetype'),
        url('../fonts/PTS55F.svg#svgFontName') format('svg');
}*/
   
/************************************************************
*************************************************************
    COMMON
*************************************************************
*************************************************************/

body{
    overflow-y: scroll;
    background: url('../img/bg_noise.jpg');
    line-height: 20px;
}

h2{font-family: 'Abel', serif;}
h3,h4,h5{font-family: 'Droid Sans', serif;}
h5{font-size: 170%;}

.text-right{text-align: right;}
.text-center{text-align: center;}
.float-right{float: right;}

/************************************************************
*************************************************************
    HEADER
*************************************************************
*************************************************************/

header #logo{padding-left: 15px; background-color: #000; color: white; font-family: 'Abel', serif;}
header #logo{text-align: center;}
header #logo a{color: white;}

/************************************************************
*************************************************************
    MAIN CONTENT
*************************************************************
*************************************************************/


/************************************************************
*************************************************************
    FOOTER
*************************************************************
*************************************************************/
footer{background: #F3F3F3; border-top: 1px solid #E6E6E6;}
footer #footer-modules{padding-top: 20px; padding-bottom: 40px;}
footer #credits{background-color: #000; color: #FFF; padding: 10px 0;}
