<footer>
	<div id="footer-modules" class="row">
		<div class="four columns">
			{{ widgets:area slug="footer-one" }}
		</div>
		<div class="four columns">
			{{ widgets:area slug="footer-two" }}
		</div>
		<div class="four columns">
			{{ widgets:area slug="footer-three" }}
		</div>
	</div>
	<div id="credits">	
		<div class="row">
			<div class="eight columns">
				{{ widgets:area slug="footer-credits" }}
			</div>
			<div id="design" class="three columns">
				Design by <a href="https://twitter.com/fordarnold">Arnold Mwumva Ford</a>
			</div>
		</div>
	</div>
</footer>